
<section class="breadcrumb">
	<div>
		<a href="../../#speakers">Speakers</a> &rsaquo; <a href="./">::speaker.name::</a>
	</div>
</section>

<section class="speakertop">
	<div class="speakerheader">
		<div class="speakerimage">
			<img src="../../images/speakers/::speaker.image::" />
		</div>

		<div class="speakerinfo">
			<h1>::speaker.name::</h1>
			<h3>::speaker.title::</h3>
			<blockquote>::speaker.bio::</blockquote>
		</div>
	</div>
</section>

<section class="speakertalkdetails">
	<div>
	::if speaker.talks.length > 0::
		<h1>Talks</h1>
		<ul class="talks">
			::for talk in speaker.talks::
				<li>
					<strong><a href="../../talks/::talk.id::/">::talk.title::</a></strong>
					<em>::talk.description::</em>
				</li>
			::end::
		</ul>
	::end::
	</div>
</section>
