
<section class="breadcrumb">
	<div>
		<a href="../../#speakers">Speakers</a> &rsaquo; <a href="../../speakers/::speaker.id::/">::speaker.name::</a> &rsaquo; <a href="./">::talk.title::</a>
	</div>
</section>

<section>
	<div class="talkpage">
		<div class="talkbox">
			<div class="talkboxbg"></div>
			<div class="talkboxcontent">
				<div class="talkboxbottom">
					<div>
						<h3><a href="../../speakers/::speaker.id::/">::speaker.name::</a></h3>
						<div class="talktitle">::talk.title::</div>
					</div>
				</div>
				<div class="talkboxright">
					<img src="../../images/banner.png" />
					<div class="summithaxeorg">summit.haxe.org</div>
				</div>
				<div class="talkboxtop">
					<div class="speakerimage">
						<img src="../../images/speakers/::speaker.image::" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div>
		<h1>::talk.title::</h1>
		::if talk.time != ""::<h2>::talk.time::</h2>::end::
		
		::new tink.template.Html(talk.content)::
	</div>
</section>
