<section>
	<div class="talkpage">
		<div class="breadcrumb">
			<a href="../../#speakers">Speakers</a> &gt; <a href="../../speakers/::speaker.id::/">::speaker.name::</a> &gt; <a href="./">::talk.title::</a>
		</div>

		<div class="talkbox">
			<div class="talkboxbg"></div>
			<div class="talkboxcontent">
				<div class="talkboxbottom">
					<div>
						<h3><a href="../../speakers/::speaker.id::/">::speaker.name::</a></h3>
						<div class="talktitle">::talk.title::</div>
					</div>
				</div>
				<div class="talkboxright">
					<img src="../../images/banner.png" />
					<div class="summithaxeorg">summit.haxe.org</div>
				</div>
				<div class="talkboxtop">
					<div class="speakerimage">
						<img src="../../images/speakers/::speaker.image::" />
					</div>
				</div>
			</div>
		</div>

		::if talk.time != ""::
			<h3>::talk.time::</h3>
		::end::

		<p>
			::new tink.template.Html(talk.content)::
		</p>
	</div>
</section>
